<h2>Create a Room!</h2>

<div class="input-group flex-nowrap">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">@</span>
  </div>
  <input type="text" id="inputUsername" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
</div>

<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text">Room Name</span>
  </div>
  <input type="text" id="inputRoomName" class="form-control" aria-label="Room Name" aria-describedby="inputGroup-sizing-lg">
</div>

<button id="createRoomButton" class="btn btn-secondary">Create</button>



<script type="text/javascript">
	
	$('#createRoomButton').on('click', function () {
    var username = $('#inputUsername').val()

    if(!username) alert('Please, insert a username.')
    else {
  		var roomName = $('#inputRoomName').val()

  		if(!roomName) alert('Please, insert a room name.')
  		else {
        sessionStorage.setItem('username', username)
        
  			$.ajax({
  				url: '<%= rooms_create_url %>',
  				type: 'POST',
  				data: {
            name: roomName,
          }
  			})
  		}
    }
	})

</script>