#moderateFrame {
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);
}

button#deleteRoomButton {
    margin: 10px 0;
}

#deleteOptionFrame {
  justify-content: space-around;
}

#messagesForApproval div {
    margin-bottom: 10px;
}